<%= form_for(@availability_day, :remote => true) do |f| %>
  <% if @availability_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability_day.errors.count, "error") %> prohibited this availability_day from being saved:</h2>

      <ul>
      <% @availability_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :availability_day %><br />
    <%= f.date_select :availability_day %>
  </div>
  <div class="field">
    <%= f.label :availability %><br />
    <%= f.text_field :availability %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
