<h1>Listing availability_days</h1>

<table>
  <tr>
    <th>Availabilityday</th>
    <th>Availability</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @availability_days.each do |availability_day| %>
  <tr>
    <td><%= availability_day.availabilityDay %></td>
    <td><%= availability_day.availability %></td>
    <td><%= link_to 'Show', availability_day %></td>
    <td><%= link_to 'Edit', edit_availability_day_path(availability_day) %></td>
    <td><%= link_to 'Destroy', availability_day, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Availability day', new_availability_day_path %>
