<p id="notice"><%= notice %></p>

<p>
  <b>Availabilityday:</b>
  <%= @availability_day.availabilityDay %>
</p>

<p>
  <b>Availability:</b>
  <%= @availability_day.availability %>
</p>


<%= link_to 'Edit', edit_availability_day_path(@availability_day) %> |
<%= link_to 'Back', availability_days_path %>
