<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Mentorship Request: Pending</h1>
    <p>
      Hello, <%= @request.mentor.name %>. You have a new mentorship request from <%= @request.mentee.name %>.</br>
    </p>
    <p>
      Reason: <%= @request.reason %></br>
      Estimated mentorship length: <%= @request.estimated_length %>
    </p>
    <p>
      <a href="<%= @url %>mentees/<%= @request.mentee.id %>">View <%= @request.mentee.name %>'s profile</a></br>
    </p>
    <p>
      <a href="<%= @url %>requests">View and respond to your requests</a></br>
    </p>
    <p>ThoughtWorks Village - "It Takes a Village"</p>
  </body>
</html>
