<%= form_for(@mentee) do |f| %>
  <% if @mentee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentee.errors.count, "error") %> prohibited this mentee from being saved:</h2>

      <ul>
      <% @mentee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table cellspacing=5>
    <tr>
      <td align="left" valign="top"><%= f.label :name %></td>
      <td align="center"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :location %></td>
      <td align="center"><%= f.text_field :location %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :current_position %></td>
      <td align="center"><%= f.text_field :current_position %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :school %></td>
      <td align="center"><%= f.text_field :school %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :major %></td>
      <td align="center"><%= f.text_field :major %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :total_years_experience %></td>
      <td align="center"><%= f.text_field :total_years_experience %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :email %></td>
      <td align="center"><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :password %></td>
      <td align="center"><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :phone %></td>
      <td align="center"><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :interests %></td>
      <td align="center"><%= f.text_area :interests %></td>
    </tr>
  </table>

  <!-- <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :current_position %><br />
    <%= f.text_field :current_position %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :major %><br />
    <%= f.text_field :major %>
  </div>
  <div class="field">
    <%= f.label :total_years_experience %><br />
    <%= f.text_field :total_years_experience %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :interests %><br />
    <%= f.text_area :interests %>
  </div> -->

  <% if session[:id] != nil %>
  <div class = "links">
    <%= link_to 'Experiences', experiences_path %>
  </div>
  <% end %>

  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
