<%= form_for(@mentee) do |f| %>
  <% if @mentee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentee.errors.count, "error") %> prohibited this mentee from being saved:</h2>

      <ul>
      <% @mentee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table cellspacing=5>
    <tr>
      <td align="left" valign="top"><%= f.label :name %></td>
      <td align="center"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :location %></td>
      <td align="left" valign="top"><%= select "mentee", "location", Carmen::country_names, :selected => Carmen::country_name('US') %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :current_position %></td>
      <td align="center"><%= f.text_field :current_position %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :total_years_experience %></td>
      <td align="center"><%= f.text_field :total_years_experience %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :email %></td>
      <td align="center">
	<%= f.text_field :email %><br/>
	<%= f.text_field :email_confirmation %>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :password %></td>
      <td align="center">
	<%= f.password_field :password %><br/>
	<%= f.password_field :password_confirmation %>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :phone %></td>
      <td align="center"><%= f.text_field :phone %></td>
    </tr>
  </table>

  <br/>
  <div class="actions">
    <%= f.submit :Save %>
  </div>
<% end %>
