<h1>Mentees</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Location</th>
    <th>Current Position</th>
    <th>Total Years of Experience</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentees.each do |mentee| %>
  <tr>
    <td><%= mentee.name.split[0] %></td>
    <td><%= mentee.location %></td>
    <td><%= mentee.current_position %></td>
    <td><%= mentee.total_years_experience %></td>
    <td><%= link_to 'View Profile', mentee %></td>
    <!-- <td><%= link_to 'Edit', edit_mentee_path(mentee) %></td> -->
    <!-- <td><%= link_to 'Destroy', mentee, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>
<br />

<!-- <%= link_to 'New Mentee', new_mentee_path %> -->
