<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mentee.name %>
</p>

<p>
  <b>Location:</b>
  <%= @mentee.location %>
</p>

<p>
  <b>Current position:</b>
  <%= @mentee.current_position %>
</p>

<p>
  <b>School:</b>
  <%= @mentee.school %>
</p>

<p>
  <b>Major:</b>
  <%= @mentee.major %>
</p>

<p>
  <b>Total years experience:</b>
  <%= @mentee.total_years_experience %>
</p>

<p>
  <b>Email:</b>
  <%= @mentee.email %>
</p>

<!--
   <p>
     <b>Password:</b>
     <%= @mentee.password %>
   </p>
-->

<p>
  <b>Phone:</b>
  <%= @mentee.phone %>
</p>

<p>
   <b>Experiences</b>
   <%= @mentee.experiences %>
</p>

<p>
  <b>Interests:</b>
  <%= @mentee.interests %>
</p>


<%= link_to 'Edit', edit_mentee_path(@mentee) %> |
<%= link_to 'Back', mentees_path %>
