<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mentee.name %>
</p>

<p>
  <b>Location:</b>
  <%= @mentee.location %>
</p>

<p>
  <b>Current position:</b>
  <%= @mentee.current_position %>
</p>

<p>
  <b>Total years of experience:</b>
  <%= @mentee.total_years_experience %>
</p>

<p>
  <b>Email:</b>
  <%= @mentee.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @mentee.phone %>
</p>

<p>
  <b>Skill Set:</b>
  <% @mentee.skills.each do |e| %>
  <br/><%=e.title%> (<%=e.comfort_level%>)
  <% end %>
</p>


<% if session[:id].to_s == @mentee.id.to_s %>
<%= link_to 'Edit Profile', edit_mentee_path(@mentee) %> |
<%= link_to 'Delete Account', @mentee, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'View all Mentees', mentees_path %>
