<h1>Your Skill Set</h1>
<p id="notice"><%= notice %></p>
<p>Your skills are listed below. You can add skill now, or later by editing your profile.</p>

<table>
  <tr>
    <th>Title</th>
    <th>Years of Experience</th>
    <th>Comfort Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skills.each do |skill| %>
  <tr>
    <td><%= skill.title %></td>
    <td><%= skill.length_in_years %></td>
    <td><%= skill.comfort_level %></td>
    <td><%= link_to 'Show', skill %></td>
    <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
    <td><%= link_to 'Destroy', skill, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Skill', new_skill_path %>
