<h1>Your Mentorship Requests</h1>

<table>
  <tr>
    <th>From</th>
    <th>Reason</th>
    <th>Estimated Length</th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= link_to request.mentee.name, request.mentee %></td>
    <td><%= request.reason %></td>
    <td><%= request.estimated_length %></td>
    <td><%= link_to 'Accept', request, :confirm => 'Are you sure?', :method => :put %></td>
    <td><%= link_to 'Decline', request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


