<p id="notice"><%= notice %></p>

<p>
  <b>Reason:</b>
  <%= @request.reason %>
</p>

<p>
  <b>Estimated Length:</b>
  <%= @request.estimatedLength %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
