<%= form_for(@mentor) do |f| %>
  <% if @mentor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentor.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @mentor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table cellspacing=5>
    <tr>
      <td align="left" valign="top"><%= f.label :name %></td>
      <td align="center"><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :location %></td>
      <td align="left" valign="top"><%= select "mentor", "location", Carmen::country_names, :selected => Carmen::country_name('US') %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :current_position %></td>
      <td align="center"><%= f.text_field :current_position %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :total_years_experience %></td>
      <td align="center"><%= f.text_field :total_years_experience %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :email %></td>
      <td align="center"><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :email_confirmation %></td>
      <td align="center"><%= f.text_field :email_confirmation, :value => @mentor.email %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :password %></td>
      <td align="center"><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :password_confirmation %></td>
      <td align="center"><%= f.password_field :password_confirmation, :value => @mentor.password %></td>
    </tr>
    <tr>
      <td align="left" valign="top"><%= f.label :phone %></td>
      <td align="center"><%= f.text_field :phone %></td>
    </tr>
  </table>

  <br/>
  <div class="actions">
    <%= f.submit :Save %>
  </div>
<% end %>
