<style type="text/css">
#FilterDiv {
float: left; 
width: 200px;
}
#FilterDiv label {
display:block;
}
th a {
color: white;
}
</style>

<h1>Mentors</h1>
<br /><br />
<div id="FilterDiv" style="">
  <strong>Filter</strong>
  <%= form_tag "/mentors", :method => "get" do %>     
    <% @filterables.each do |f| %>
	  <p></p>
      <%=f.first%>
	  <br />
      <% f.each do |str| %>	  
	   <% if str == f.first then %>
	     <% next %>
	   <% end %>
	   <% if @checked %>
	    <%= check_box_tag(f.first+str,str,checked = true) %>
		<% else %>
		<%= check_box_tag(f.first+str,str,checked = false) %>
		<% end %>
		<%= str %>
        <br />
      <% end %> 
    <% end %>
	<p></p>
    <%= submit_tag("Filter") %>
  <% end %> 
<a href="/mentors">Clear Filter</a>
</div>

<table>
  <tr>
    <th>First Name</th>
    <th>Location</th>
    <th>Current Position</th>
    <th>Total Years of Experience</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentors.each do |mentor| %>
  <tr>
    <td><%= mentor.name.split[0] %></td>
    <td><%= mentor.location %></td>
    <td><%= mentor.current_position %></td>
    <td><%= mentor.total_years_experience %></td>
    <td><%= link_to 'View Profile', mentor %></td>
    <!-- <td><%= link_to 'Edit', edit_mentor_path(mentor) %></td> -->
    <!-- <td><%= link_to 'Destroy', mentor, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
  <% end %>
</table>
<br />

<!-- <%= link_to 'New Mentor', new_mentor_path %> -->
