<h1>Login</h1>

<% form_tag :controller => @mentors :action => 'login' %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.submit 'Login' %>
  </p>
<% end %>

<%= link_to 'Show', @mentor %> |
<%= link_to 'Back', mentors_path %>