<h1>Search Results</h1>
<style type="text/css">
#FilterDiv {
float: left; 
width: 200px;
}
#FilterDiv label {
display:block;
}
th a {
color: white;
}
</style>
<table>
<tr>You searched for: <%= @query %></tr>

<tr>
  <th>First Name </th>
  <th>Location</th>
  <th>Current Position</th>
  <th>Total Years of Experience</th>
  <th></th>
</tr>

<% @mentors.each do |mentor| %>
  <tr>
    <td><%= mentor.name.split[0] %></td>
    <td><%= mentor.location %></td>
    <td><%= mentor.current_position %></td>
    <td><%= mentor.total_years_experience %></td>
    <td><%= link_to 'View Profile', mentor %></td>
  </tr>
<% end %>
</table>

