<p>
  <b>Name:</b>
  <%=h @mentor.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @mentor.location %>
</p>

<p>
  <b>Current position:</b>
  <%=h @mentor.current_position %>
</p>

<p>
  <b>School:</b>
  <%=h @mentor.school %>
</p>

<p>
  <b>Major:</b>
  <%=h @mentor.major %>
</p>

<p>
  <b>Total years experience:</b>
  <%=h @mentor.total_years_experience %>
</p>


<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>