<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mentor.name %>
</p>

<p>
  <b>Location:</b>
  <%= @mentor.location %>
</p>

<p>
  <b>Current position:</b>
  <%= @mentor.current_position %>
</p>

<p>
  <b>School:</b>
  <%= @mentor.school %>
</p>

<p>
  <b>Major:</b>
  <%= @mentor.major %>
</p>

<p>
  <b>Total years of experience:</b>
  <%= @mentor.total_years_experience %>
</p>

<p>
  <b>Email:</b>
  <%= @mentor.email %>
</p>

<!--
   <p>
     <b>Password:</b>
     <%= @mentor.password %>
   </p>
-->

<p>
  <b>Phone:</b>
  <%= @mentor.phone %>
</p>
<p>
  <b>Experiences:</b>
  <% @mentor.experiences.each do |e| %>
	<br /><%=e.ability%> for <%=e.length_in_years%> years, comfort level <%=e.comfort_level%>/10
  <%end%>
</p>

<p>
  <b>Interests:</b>
  <%= @mentor.interests %>
</p>
<p>
  <b>See availability:</b>
  <% if @availability_calendar.nil? %> Unknown
  <% else %>




<%= javascript_include_tag "jquery.datePicker.js" %>
<%= javascript_include_tag "date.js" %>
<%= stylesheet_link_tag("datePicker.css") %>



<script>

$(function()
{
	$('#datepicker')
	.datePicker(
		{	inline:true,
			selectMultiple:true, //disallow selection
			numSelectable:0,
			renderCallback:function($td, thisDate, month, year)
			{	//note: to allow changing months, must get this list from server again or keep a local copy of all changes. this will get called again on month change
				dstr=thisDate.toDateString();
				//loops through each already-set day
				<% @availability_calendar.availability_days.find(:all, :order => 'availability_day').each do |day| %>
					if (dstr==new Date(<%= day.availability_day.year %>,<%= day.availability_day.month %>-1,<%= day.availability_day.mday %>).toDateString()) {
					$td.addClass('<%=day.availability %>');
				} else 
				<% end %>
				{}
			}
		}
	)
	.bind('dpMonthChanged',function(event, displayedMonth, displayedYear) {
		alert("Changing month is currently not supported");
		location.reload();
	});
});


</script>
<style>
.red {
background-color: red !important;
background-image:none !important;
color:black !important;
}
.yellow {
background-color: yellow !important;
background-image:none !important;
color:black !important;
}
.green { 
background-color: green !important;
background-image:none !important;
color:black !important;
}
.availGray availWeek { 
background-color: gray;
}
</style>
<p>Red=unavailable, Yellow=somewhat available, Green=available.</p>

<div id="datepicker"></div>
<br />






  <%end%>
</p>
<% if session[:usertype]==:mentee %>
<h2>Request a mentorship:</h2>
<%= form_for([@mentor, @mentor.requests.build]) do |f| %>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :estimated_length %><br />
    <%= f.text_field :estimated_length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
<%= link_to 'Edit Profile', edit_mentor_path(@mentor) %> |
<%= link_to 'Delete Account', @mentor, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', mentors_path %>
