<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mentor.name %>
</p>

<p>
  <b>Location:</b>
  <%= @mentor.location %>
</p>

<p>
  <b>Current position:</b>
  <%= @mentor.current_position %>
</p>

<p>
  <b>School:</b>
  <%= @mentor.school %>
</p>

<p>
  <b>Major:</b>
  <%= @mentor.major %>
</p>

<p>
  <b>Total years experience:</b>
  <%= @mentor.total_years_experience %>
</p>

<p>
  <b>Email:</b>
  <%= @mentor.email %>
</p>

<!--
   <p>
     <b>Password:</b>
     <%= @mentor.password %>
   </p>
-->

<p>
  <b>Phone:</b>
  <%= @mentor.phone %>
</p>

<p>
  <b>Interests:</b>
  <%= @mentor.interests %>
</p>

<h2>Request a mentorship:</h2>
<%= form_for([@mentor, @mentor.requests.build]) do |f| %>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :estimated_length %><br />
    <%= f.text_field :estimated_length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
