<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ability %><br />
    <%= f.text_field :ability %>
  </div>
  <div class="field">
    <%= f.label :length_in_years %><br />
    <%= f.text_field :length_in_years %>
  </div>
  <div class="field">
    <%= f.label :comfort_level %> (out of 10)<br />
    <%= f.text_field :comfort_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
