<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table cellspacing=5>
    <tr>
      <td align="left" valign="top">
	<%= f.label :ability, "Skill" %>
      </td>
      <td align="left">
	<%= select "experience", "ability", Experience::ABILITIES.sort %>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top">
	<%= f.label :length_in_years, "Years of experience" %>
      </td>
      <td align="left">
	<%= select "experience", "length_in_years", (1..100) %> years
      </td>
    </tr>
    <tr>
      <td align="left" valign="top">
	<%= f.label :comfort_level, "Level of experience" %>
      </td>
      <td align="left">
	<%= select "experience", "comfort_level", (1..10) %><br/>
	1 is completely unfamiliar, 10 is completely familiar
      </td>
    </tr>
  </table>
  <br/>

  <div class="actions">
    <%= f.submit "Save Skill" %>
  </div>
  <br/>
<% end %>
