<%= form_for(@experience) do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :lengthInYears %><br />
    <%= f.text_field :lengthInYears %>
  </div>
  <div class="field">
    <%= f.label :comfortLevel %><br />
    <%= f.text_field :comfortLevel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
