<h1>Listing experiences</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Lengthinyears</th>
    <th>Comfortlevel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiences.each do |experience| %>
  <tr>
    <td><%= experience.type %></td>
    <td><%= experience.lengthInYears %></td>
    <td><%= experience.comfortLevel %></td>
    <td><%= link_to 'Show', experience %></td>
    <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
    <td><%= link_to 'Destroy', experience, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experience', new_experience_path %>
