<h1>Listing experiences</h1>

<table>
  <tr>
    <th>Experience/Ability</th>
    <th>Years of Experience</th>
    <th>Comfort Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiences.each do |experience| %>
  <tr>
    <td><%= experience.ability %></td>
    <td><%= experience.length_in_years %></td>
    <td><%= experience.comfort_level %></td>
    <td><%= link_to 'Show', experience %></td>
    <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
    <td><%= link_to 'Destroy', experience, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experience', new_experience_path %>
