
<%= form_for(@mentorship) do |f| %>
  <% if @mentorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentorship.errors.count, "error") %> prohibited this mentorship from being saved:</h2>

      <ul>
      <% @mentorship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mentor_id %><br />
    <%= f.text_field :mentor_id %>
  </div>
  <div class="field">
    <%= f.label :mentee_id %><br />
    <%= f.text_field :mentee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
