<h1>Listing mentorships</h1>

<table>
  <tr>
    <th>Mentor</th>
    <th>Mentee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentorships.each do |mentorship| %>
  <tr>
    <td><%= mentorship.mentor_id %></td>
    <td><%= mentorship.mentee_id %></td>
    <td><%= link_to 'Show', mentorship %></td>
    <td><%= link_to 'Edit', edit_mentorship_path(mentorship) %></td>
    <td><%= link_to 'Destroy', mentorship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mentorship', new_mentorship_path %>
