<p id="notice"><%= notice %></p>

<p>
  <b>Mentor:</b>
  <%= @mentorship.mentor_id %>
</p>

<p>
  <b>Mentee:</b>
  <%= @mentorship.mentee_id %>
</p>


<%= link_to 'Edit', edit_mentorship_path(@mentorship) %> |
<%= link_to 'Back', mentorships_path %>
