<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>

<table>  
  <%@survey.questions.each do |question|%>
  
  <tr>
    <% r = Response.new%>
    
    <%= form_for(r) do |f| %>
      <% r.question_id = question.id%>
      <div class="field">
        <%= f.label question.question_text %><br />
        <%= f.text_field :response_text %>        
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
   <% end %>
  </tr>
  <%end%>
</table>



<p>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
</p>

