<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @survey.description %>
</p>

<table>  
<% form_for(@survey) do |f| %>
  
   
  
  <tr>
    
    
    <% f.fields_for :questions do |question_form| %>
	  <% r = Response.new(:question_id => question_form.object.id)%>
	  
      <% question_form.fields_for :responses, r do |child_form| %>
	      <div class="field">
    	    <%= child_form.label question_form.object.question_text %><br />
    	    <%= child_form.text_field :response_text %>        
   	      </div>      
    	  <div class="actions">
    	   
    	  </div>
	  <%end%>
   <% end %>
  </tr>
<%= f.submit %>
<% end %>
</table>



<p>

<%= link_to 'Back', surveys_path %>
</p>

