<%= javascript_include_tag "jquery.datePicker.js" %>
<%= javascript_include_tag "date.js" %>
<%= stylesheet_link_tag("datePicker.css") %>
<script>

$(function()
{
	$('#datepicker')
		.datePicker(
			{	inline:true,
				selectMultiple:true,
				renderCallback:function($td, thisDate, month, year)
				{
					dstr=thisDate.toDateString();
					if (dstr==new Date(2011,3-1,20).toDateString()) {
						$td.addClass('red');
					}
				}
			}
		)
		/*.bind('click',
			function()
			{
				$(this).dpDisplay();
				this.blur();
				return false;
			}
		)*/
		.bind('dateSelected',cycleDay
		);
});
function cycleDay(e, selectedDate, $td) {
	if ($td.hasClass('green')) {
		$td.removeClass('green');
		newClass='yellow';
	} else if ($td.hasClass('yellow')) {
		$td.removeClass('yellow');
		newClass='red';
	} else if ($td.hasClass('red')) {
		$td.removeClass('red');
		newClass='green';
	} else {
		newClass='green';
	}
	$td.addClass(newClass);
	updateDayServer(selectedDate,newClass);
}

function updateDayServer(selectedDate,colorText) {
	dateString=selectedDate.asString("mm/dd/yyyy");
	//alert("set "+dateString+" " + colorText);
	$.post("<%= url_for(:action => 'update_day', :controller => 'availability_calendars') %>",
	{ date: dateString,
	  color: colorText },//adds newline somehow?
	function(data) {
	  	$("#results").html(data);
	});
}
</script>
<style>
.red {
background-color: red !important;
background-image:none !important;
color:black !important;
}
.yellow {
background-color: yellow !important;
background-image:none !important;
color:black !important;
}
.green { 
background-color: green !important;
background-image:none !important;
color:black !important;
}
.availGray availWeek { 
background-color: gray;
}
</style>
Use the calendar below. Red=unavailable, Yellow=somewhat available, Green=available. Changes are saved immediately. 

<div id="datepicker"></div>
<div id="results"></div>


<%= form_for(@availability_calendar) do |f| %>
  <% if @availability_calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability_calendar.errors.count, "error") %> prohibited this availability_calendar from being saved:</h2>

      <ul>
      <% @availability_calendar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :availability_quotient %><br />
    <%= f.text_field :availability_quotient %>
  </div>

  <div class="field">
  <% f.fields_for :availability_days do |child_form| %>
	Date: <%= child_form.object.availability_day %>
    <%= child_form.label :availability %>: 
    <%= child_form.text_field :availability %>
	<%= child_form.hidden_field :availability_day, :value => child_form.object.availability_day %>
    <br />

  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
