<%= javascript_include_tag "jquery.datePicker.js" %>
<%= javascript_include_tag "date.js" %>
<%= stylesheet_link_tag("datePicker.css") %>

<script>

$(function()
{
	$('#datepicker')
	.datePicker(
		{	inline:true,
			selectMultiple:true,
			renderCallback:function($td, thisDate, month, year)
			{	//note: to allow changing months, must get this list from server again or keep a local copy of all changes. this will get called again on month change
				dstr=thisDate.toDateString();
				//loops through each already-set day
				<% @availability_calendar.availability_days.find(:all, :order => 'availability_day').each do |day| %>
					if (dstr==new Date(<%= day.availability_day.year %>,<%= day.availability_day.month %>-1,<%= day.availability_day.mday %>).toDateString()) {
					$td.addClass('<%=day.availability %>');
				} else 
				<% end %>
				{}
			}
		}
	)
	/*.bind('click',
		function()
		{
			$(this).dpDisplay();
			this.blur();
			return false;
		}
	)*/
	.bind('dateSelected',cycleDay
	)
	.bind('dpMonthChanged',function(event, displayedMonth, displayedYear) {
		alert("Changing month is currently not supported");
		location.reload();
	});
	disableSelection(document.getElementById('datepicker'));
});
function cycleDay(e, selectedDate, $td) {
	if ($td.hasClass('green')) {
		$td.removeClass('green');
		newClass='yellow';
	} else if ($td.hasClass('yellow')) {
		$td.removeClass('yellow');
		newClass='red';
	} else if ($td.hasClass('red')) {
		$td.removeClass('red');
		newClass='green';
	} else {
		newClass='green';
	}
	$td.addClass(newClass);
	updateDayServer(selectedDate,newClass);
}

function updateDayServer(selectedDate,colorText) {
	dateString=selectedDate.asString("mm/dd/yyyy");
	//alert("set "+dateString+" " + colorText);
	$.post("<%= url_for(:action => 'update_day', :controller => 'availability_calendars') %>",
	{ date: dateString,
	  color: colorText },//adds newline somehow?
	function(data) {
	  	$("#results").html(data);
	});
}
function disableSelection(target){
	if (typeof target.onselectstart!="undefined") //IE route
		target.onselectstart=function(){return false}
	else if (typeof target.style.MozUserSelect!="undefined") //Firefox route
		target.style.MozUserSelect="none"
	else //All other route (ie: Opera)
		target.onmousedown=function(){return false}
	target.style.cursor = "default"
}


</script>
<style>
.red {
background-color: red !important;
background-image:none !important;
color:black !important;
}
.yellow {
background-color: yellow !important;
background-image:none !important;
color:black !important;
}
.green { 
background-color: green !important;
background-image:none !important;
color:black !important;
}
.availGray availWeek { 
background-color: gray;
}
</style>
<p>Click dates on the calendar below to change your availability. Red=unavailable, Yellow=somewhat available, Green=available. Changes are saved immediately.</p>

<div id="datepicker"></div>
<br />
<div id="results"></div>
<br />

