

<%= form_for(@availability_calendar) do |f| %>
  <% if @availability_calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability_calendar.errors.count, "error") %> prohibited this availability_calendar from being saved:</h2>

      <ul>
      <% @availability_calendar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :availability_quotient %><br />
    <%= f.text_field :availability_quotient %>
  </div>

  <div class="field">
  <% f.fields_for :availability_days do |child_form| %>
	field:
    <%= child_form.label :availability %>
    <%= child_form.text_field :availability %>

    <% unless child_form.object.nil? %>
		Date: <%= child_form.object.availability_day %>
    <% end %>

  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
