<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ThoughtWorks Village | www.thoughtworks.com</title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "main" %>
</head>
<link rel="icon" href="images/corporate_favicon.ico" type="image/ico" />
<body>
<div id="MainBody">
<div class="navbar">
<a href="/"><img id="navbarLogo" src="/images/corporate_logo.png" /></a>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/mentors">Browse Mentors</a></li>
<li><a href="/mentees">Browse Mentees</a></li>

<% if ! session[:usertype] %>
<li><a href="/mentors/new">Register</a></li>
<li><a href="/users/login">Login</a></li>
<% else %>
  <% if session[:usertype] == :mentor %>
  <li><a href="/mentors/<%= session[:id] %>">My Profile</a></li>
  <li><a href="/mentors/<%= session[:id] %>/edit">Edit Profile</a></li>
  <li><a href="/mentor_profiles/update_availability">Update Availability</a></li>
  <li><a href="/requests/">Mentorship Requests</a></li>
  <li><a href="/mentorships/">Mentorships</a></li>
  <% end %>
  <% if session[:usertype] == :mentee %>
  <li><a href="/mentees/<%= session[:id] %>">My Profile</a></li>
  <li><a href="/mentees/<%= session[:id] %>/edit">Edit Profile</a></li>
  <% end %>
  <li><a href="/users/logout">Logout</a></li>
  <% end %>
<li>Usertype: <%= session[:usertype] %>. User ID: <%= session[:id] %></li>
</ul>


<div style="position:absolute; right:50px; top:30px;">
<%= form_tag "/mentor_profiles/search", :method => "get" do %>
  <%= label_tag(:q, "Search:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

</div>
    <%= yield %>
</div>
</body>
</html>
